html{
  padding: 2.3vw;
}
input{
  width: 80%;
  height: 2vw;
}
.floor{
  padding: 2vw;
  border:2px;
  border:dotted;
  color:blue;
}
.main{
  align-items: center;
  width: 100%;
  height: 100%;
  align: center;
  text-align:center;
  font-size: 2vw;
}
.separator{
  height: 2.9vw;
}
