html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}
*{
  /*margin hace la pagina que se vea un poco rara quizas */
  margin: none;
  padding: none
  font-family: Gothic;
  font-size: 20px;
}
.scrollcontrollerdiv{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.progress-container{
  width: 99%;
  height: 0.4vw;
  background: #ccc;
  border-radius: 1.5vw
}
.progress-bar{
  width: 0%;
  height: 0.4vw;
  background:linear-gradient(
      to right, #833ab4,
      #fd1d1d, #fcb045);
}
video{
  border:2px

}
header{
  height: 35vw;
  align-items: center;

}
@font-face {
  font-family: "newtown howard";
  src: url(resources/fonts/NWF.ttf);
}
.title-container{
  height: 100%;
  width: 100%;
}
.textbgimage{
  text-align: center;
  background-image: url(resources/discoteca.jpeg);
  font-size: 12vw;
  font-weight: bold;
  -webkit-text-fill-color:transparent;
  -webkit-background-clip:text;
  font-family: "newtown howard",'Lucida Console', monospace;
  transform: rotate(-18deg);
}
.textbgimage:hover{
  transform:rotate(-18deg);
  animation: animate-tittle 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes animate-tittle {
    0%{
      transform: scale(1.05) rotate(-18deg);
    }
    100%{
      transform: scale(1.25) rotate(-18deg);
    }
}
.mainArticle{
  background-color:;
  color: black;
  align-items:center;
  opacity: 90%;
  padding: 40px;
  border: none;
  border-radius: 1.5vw;
  align-content: center;
}
section{
    background-color:;
    border: none;
    border-radius: 1.5vw;
    padding: 20px;
    align-items: center;
    max-width: 100%;
    align-self: center;
    justify-content: center;
}
footer{
  background-color: #ff6666;
  height: 12vw;
  width: 100%;

}
#input{
  align-self: center;
  width: 100%;
  color: ;
  background-color:;
}
.nav{
  /*aqui hay que poner un borde to chulo */
  border-left-style:outset;
  border-right-style:inset;
  color:black;
  table-layout: fixed;
  background-color: pink;
  opacity:40%;
  border-color: pink;
  width: 100%;
  border-radius: 1.5vw;
}
#button{
  max-width: 100%;
  width:100%;
  background-color: pink;
  border: none;
  border-radius: 1.5vw;
}
#audioPL{
  color:#b32400;
  align:right;
}
.box{

  border: 3px;
  border-color:black;
  width: 100%;
  height: 200px;
  justify-content: center;
}
.gradientbackground{
  background: linear-gradient(
      to right, #833ab4,
      #fd1d1d, #fcb045);
      background-size: 400%, 400%;
      animation: animate-background 15s infinite ease-in-out;
    )
}
@keyframes animate-background{
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }

}
.resizable{
  resize: both;
  overflow: auto;
}
