*{
  /*margin hace la pagina que se vea un poco rara quizas */
  margin: 0.2vw;
  padding: 0.3vw;
  box-sizing: border-box;
  font-family: Gothic;
  font-size: 20px;
}
  video{
  border:2px

}
progress{
  color:green;
  height:200px;
  width: 100%;
}
.mainArticle{
  background-color:#ebd9c7;
  color: black;
  align-items:center;
  opacity: 90%;
  padding: 40px;
  border: none;
  border-radius: 1.5vw;
  align-content: center;
}
section{
    background-color: rgb(204, 0, 102);
    border: none;
    border-radius: 1.5vw;
    padding: 20px;
    align-items: center;
    max-width: 30%;
    align-self: center;
}
#input{
  align-self: center;
  width: 100%;
  color: ;
  background-color:;
}
#title{
  background-color:#ebd9c7;
  border: none;
  border-radius: 1.5vw;
  color:rgb(204, 0, 102) ;
  font-family: monospace;
  font-size: 40px;
}
#titile .first em{
  color:;
}
.nav{
  /*aqui hay que poner un borde to chulo */
  border: 0.5vw
  color: white;
  table-layout: fixed;
  background-color:rgb(040, 170, 89);
  border-color: white;
  width: 100%;
  border-radius: 1.5vw;
}
#button{
  max-width: 100%;
  width:100%;
  background-color: pink;
  border: none;
  border-radius: 1.5vw;
}
.box{
  border: 3px;
  border-color:black;
  width: 100%;
  height: 200px;
}
